
@font-face {
    font-family: 'font_HBS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}  

.app{
    height:300%;
    display:block;
    justify-content: center;
    align-items: center;
}

.all_container{
    display:flex;
    justify-content: center;
}
.all_container2{
    width:600px;
    text-align:center;
    .typebuttons{
        width: 23%;
        height: 50px;
        margin: 5px;
        background-color: rgba(128, 196, 179, 0.801);
        border-radius:0px;
    }
    .selectDescText{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top: 1%;
    }
    .selectText{
        font-size:23px;
        font-family: 'payboocbold';
        text-align:center;
        font-weight:'100';
    }
    .selectDescText2{
        padding:10px;
        background-color: rgba(99, 99, 99, 0.1);
    }
}
.secondContainer{
    justify-content: center;
    text-align:center;
}
.questionWrapper{
    display:inline-block;
    justify-content: center;
    text-align:center;
    width:600px;
    .questionButtons{
        font-size:14px;
        height:100px;
        margin:10px;
        padding:3px;
        width:45%;
        background-color: rgba(156, 156, 156, 0.1);
        border:2px solid #A8D1E5;
        font-family: 'payboocbold';
    }
}
.resultButton{
    background-color:blue;
    width:300;
    height:150;
}

.typeQuestion{
    font-size:20px;
    font-family: 'payboocbold';
    text-align:center;
    font-weight:'100';
    display:flex;
    align-items: center;
    justify-content: center;
}

.showResultButton{
    width:300px;
    height:100px;
    background-color:rgba(206, 56, 56, 0.801);
    font-size:23px;
}

@media (max-width: 767px) {
    .selectText{
        font-size:15px;
    }    
    .selectText2{
        font-size:18px;
    }    
    .showResultButton{
        width:300px;
        height:100px;
        background-color:rgba(0, 0, 0, 0.801);
        font-size:23px;
    }
}