.main_title{
    width:100%;
    font-size: 4em;
    color:rgb(106, 253, 86);

}

.sub_desc{
    font-size:2em;
    color:rgb(106, 253, 86);

}

.container2{
    display: block; 
    align-items:center;
    justify-content: center;
    padding-left:10%;
}