
@font-face {
    font-family: 'font_HBS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}  

.main_title{
    display: block;
    font-size: 43px;
    color:rgb(34, 34, 34);
    font-family: 'font_HBS';
}

.container2{
    width: 100%;
    flex-direction: row;
    padding-top:50px;
    display: flex;
    justify-content:center;
}

.container3{
    width:600px;
    // background-color:rgba(2, 151, 177, 1);
    z-index:1;
    border: 3px solid #A0FCD6;
    border-radius:7px;
    justify-content: center;
    display: block;
    padding-bottom:30px;
    padding-top:30px;
    color:white;
    .main_title{
        width:100%;
        // display: flex;
        font-size: 26px;
        color:rgb(219, 219, 219);
        justify-content: center;
        align-items: center;
        text-align:center;
    }
    .main_title_big{
        width:100%;
        // display: flex;
        font-size: 50px;
        color:#7cfcc6;
        font-family: 'font_HBS';
        justify-content: center;
        align-items: center;
        text-align:center;
    }
    .sub_desc{
        font-size:16px;
        color:rgb(219, 219, 219);
        width:100%;
        justify-content: center;
        align-items: center;
        text-align:center;
    }  
    .downButton{
        background-color:rgb(173, 20, 115);
        width:180px;
        height:70px;
        border-radius:40px;
        margin-top:40px;
        display: table;
        align-items: center;
        justify-content: center;
    }  
    .downDiv{
        display: flex;
        justify-content: center;
    }
    .downArrow{
        display:table-cell;
        vertical-align:middle;
        text-align:center;
        color:white;
        font-size:1.3em;
    }
    
}

.image{
    width:600px;
    margin-right:200px;
}

@media (max-width: 700px) {
    .container3{
        width:95%;

        .main_title_big{
            width:100%;
            // display: flex;
            font-size: 40px;
            font-family: 'font_HBS';
            justify-content: center;
            align-items: center;
            text-align:center;
        }

        .main_title{
            width:100%;
            // display: flex;
            font-size: 23px;
            font-family: 'font_HBS';
            justify-content: center;
            align-items: center;
            text-align:center;
        }
        .sub_desc{
            width:100%;
            // display: flex; 
            font-size:17px;
            font-family: 'font_HBS';
            justify-content: center;
            align-items: center;
            text-align:center;
            margin-top:20px;
        }
    }
    .downButton{
        background-color:rgb(219, 26, 145);
        width:100px;
        height:70px;
        border-radius:30px;
        margin-top:70
    }
}