
@font-face {
    font-family: 'font_HBS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}  

.main_title{
    display: block;
    font-size: 43px;
    color:rgb(34, 34, 34);
    font-family: 'font_HBS';
}

.container2{
    width: 100%;
    flex-direction: row;
    padding-top:50px;
    display: flex;
    justify-content:center;
}

.container3{
    width:600px;
    background-color:rgba(2, 151, 177, 0.2);
    border-radius:7px;
    justify-content: center;
    display: block;
    padding-bottom:30px;
    padding-top:30px;
    .main_title{
        width:100%;
        // display: flex;
        font-size: 26px;
        color:rgb(34, 34, 34);
        justify-content: center;
        align-items: center;
        text-align:center;
    }
    .main_title_big{
        width:100%;
        // display: flex;
        font-size: 50px;
        color:rgb(121, 19, 19);
        font-family: 'font_HBS';
        justify-content: center;
        align-items: center;
        text-align:center;
    }
    .sub_desc{
        font-size:16px;
        color:rgb(32, 32, 32);
        width:100%;
        justify-content: center;
        align-items: center;
        text-align:center;
    }  
    .downButton{
        background-color:black;
        width:180px;
        height:70px;
        border-radius:40px;
        margin-top:40px;
        display: table;
        align-items: center;
        justify-content: center;
    }  
    .downDiv{
        display: flex;
        justify-content: center;
    }
    .downArrow{
        display:table-cell;
        vertical-align:middle;
        text-align:center;
        color:white;
        font-size:1.3em;
    }
    
}

.image{
    width:600px;
    margin-right:200px;
}

@media (max-width: 767px) {
    .downButton{
        background-color:black;
        width:100px;
        height:70px;
        border-radius:30px;
        margin-top:70
    }

    .main_title{
        width:100%;
        // display: flex;
        font-size: 30px;
        color:rgb(34, 34, 34);
        font-family: 'font_HBS';
        justify-content: center;
        align-items: center;
        text-align:center;
    }
    .main_title_big{
        width:100%;
        // display: flex;
        font-size: 60px;
        color:rgb(121, 19, 19);
        font-family: 'font_HBS';
        justify-content: center;
        align-items: center;
        text-align:center;
    }

    .sub_desc{
        width:100%;
        // display: flex; 
        font-size:15px;
        color:rgb(32, 32, 32);
        font-family: 'font_HBS';
        justify-content: center;
        align-items: center;
        text-align:center;
    }
    .image{
        width:500px;
        margin-top:0px;
    }
}