.container{
    width: 80%; 
    margin:10;
    border: 1px solid rgb(253, 126, 126);
    border-radius: 10px;
    div{
        border:1px black solid
    }
}
.d_top{
    display:flex;
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .d_left{
        display:block; 
        width:20%;
        padding-top:3%;
        div{
            display:flex;
            justify-content: center;
            margin-top: 10px;
        }
    }
}

.d_right{
    border-top-left-radius: 10px;
    width:80%;
    .infos{
        display: inline-flex;
        justify-content: center;
        width:100%;
        p{
            text-align:center;
        }
        span{
            display: block;
            justify-content: center;
            align-items: center;
            width:33%;
            border: 1px solid green;
            .info_title{
                font-size:1.5em;
            }
            .info_desc{
                font-size:2em;
            }
        }
    }
    .title{
        align-items: center;
        p{
            background-color:red;
            padding-top:1%;
            font-size:3em;
            font-weight: 600;
        }
    }
    .oneline{
        font-size:1.5em;
        display:flex;
        align-items: center;
    }
    .description{
        display:flex;
        align-items: center;
        padding-top:10px;
        padding-bottom:10px;
    }
}

.reviews{
    // width:100%;
    // display:flex;
    // justify-content: center;
    // height: 30%;
    .rv{
        display: block;
        justify-content: center;
        align-items: center;
        width:33%;
        border: 1px solid green;
        padding:1%;
        div{
            display:inline-flex;
            p{
                width: 50%;
                margin-right: 5%;
                border:1px solid black;
            }
        }
    }
}

.d_foot{
    background-color: rgb(185, 185, 185);
    height:30px;
    // border-bottom-right-radius: 10px;
    // border-bottom-left-radius: 10px;
    display: inline-flex;
    width:100%;
    align-content: center;
    p{
        margin-left:5%;
        color:rgb(68, 68, 68);
    }
}

@media (max-width: 767px) {
    .container{
        width: 90%; 
        display: flex;
        flex-direction: column;
    }
    .d_top{
        display:flex;
        width:100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        flex-direction: column;
        .d_left{
            display:inline-flex; 
            width:100%;
            flex-direction: row;
            margin-top:0%;
            div{
                display:flex;
                justify-content: center;
                width:33%;
            }
        }
    }
    .d_right{
        border-top-left-radius: 10px;
        width:100%;
        flex-direction: column;
        .infos{
            display: flex;
            width:100%;
            span{
                display: block;
                justify-content: center;
                align-items: center;
                width:33%;
                border: 1px solid green;
                .info_title{
                    font-size:1.5em;
                }
                .info_desc{
                    font-size:1.7em;
                    font-weight: 700;
                }
            }
        }
        .oneline{
            font-size:1.5em;
            display:flex;
            align-items: center;
            padding-top:20px;
        }
        .description{
            display:flex;
            align-items: center;
        }
    }
}
