@import '~antd/dist/antd.css';

@font-face {
  font-family: 'font_HBS';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'payboocbold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'paybooclight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container{
    width: 80%; 
    margin:10;
    // border: 1px solid rgb(253, 126, 126);
    border-radius: 5px;
    border:2px solid blue;
    div{
        // border:1px black solid
    }
    font-family: 'paybooclight';
}
.d_top{
    display:flex;
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .d_left{
        display:block; 
        width:20%;
        padding-top:3%;
        div{
            display:flex;
            justify-content: center;
            margin-top: 10px;
        }
    }
}

.d_right{
    border-top-left-radius: 10px;
    width:80%;
    .infos{
        display: inline-flex;
        justify-content: center;
        width:100%;
        p{
            text-align:center;
        }
        span{
            display: block;
            justify-content: center;
            align-items: center;
            width:33%;
            // border: 1px solid green;
            .info_title{
                font-size:1.5em;
                text-align: center;
                flex-direction: row;
            }
            .info_desc{
                font-size:2em;
            }
        }
    }
    .title{
        align-items: center;
        p{
            background-color:red;
            padding-top:1%;
            font-size:3em;
            font-weight: 600;
        }
    }
    .oneline{
        font-size:1.5em;
        display:flex;
        align-items: center;
    }
    .description{
        display:flex;
        align-items: center;
        padding-top:10px;
        padding-bottom:10px;
    }
}

.reviews{
    // width:100%;
    // display:flex;
    // justify-content: center;
    // height: 30%;
    .rv{
        display: block;
        justify-content: center;
        align-items: center;
        width:33%;
        // border: 1px solid green;
        padding:1%;
        div{
            display:inline-flex;
            p{
                width: 50%;
                margin-right: 5%;
                // border:1px solid black;
            }
        }
    }
}

.d_foot{
    background-color: rgb(185, 185, 185);
    height:30px;
    // border-bottom-right-radius: 10px;
    // border-bottom-left-radius: 10px;
    display: inline-flex;
    width:100%;
    align-content: center;
    p{
        margin-left:5%;
        color:rgb(68, 68, 68);
    }
}

@media (max-width: 767px) {
    .container{
        width: 90%; 
        display: flex;
        flex-direction: column;
    }
    .d_top{
        display:flex;
        width:100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        flex-direction: column;
        align-items: center;
        .d_left{
            display:inline-flex; 
            width:100%;
            flex-direction: row;
            margin-top:0%;
            div{
                display:flex;
                justify-content: center;
                width:33%;
            }
            .move_button{
                height:100px;
            }
        }
    }
    .d_right{
        border-top-left-radius: 10px;
        width:100%;
        flex-direction: column;
        .infos{
            display: flex;
            width:100%;
            span{
                display: block;
                justify-content: center;
                align-items: center;
                width:33%;
                // border: 1px solid green;
                .info_desc{
                    font-size:1.7em;
                    font-weight: 700;
                }
            }
        }
        .title{
            font-size:9px;
        }
        .oneline{
            font-size:1.5em;
            display:flex;
            align-items: center;
            padding-top:20px;
        }
        .description{
            display:flex;
            align-items: center;
        }
    }

    .reviews{
        // width:100%;
        // display:flex;
        // justify-content: center;
        // height: 30%;
        flex-direction:column;
        display:flex;
        .reviewWrapper{
            flex-direction: column;
            .rv{
                justify-content: center;
                align-items: center;
                width:100%;
                border: 1px solid green;
                padding:1%;
                .reviewNum{
                    font-size:1.3em;
                    font-family: 'payboocbold';
                }
                div{
                    display:block;
                    p{
                        width: 100%;
                        margin-right: 5%;
                        // border:1px solid black;
                    }
                }
            }
        }
    }
}
