@import '~antd/dist/antd.css';

@font-face {
  font-family: 'font_HBS';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'payboocbold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'paybooclight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.container{
    width: 80%; 
    margin:10;
    // border: 1px solid rgb(253, 126, 126);
    border-radius: 5px;
    border:2px solid #A8D1E5;
    color:white;
    div{
        // border:1px black solid
    }
    font-family: 'paybooclight';
}
.d_top{
    display:flex;
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .d_left{
        display:block; 
        width:20%;
        padding-top:3%;
        div{
            display:flex;
            justify-content: center;
            margin-top: 10px;
        }
    }
}

.d_right{
    border-top-left-radius: 10px;
    width:80%;
    .infos{
        display: inline-flex;
        justify-content: center;
        width:100%;
        display: table;
        p{
            text-align:center;
        }
        span{
            .info_title{
                padding-top:10px;
                border: 2px solid rgb(7, 8, 7);
                vertical-align:middle;
                font-size:1.2em;
                text-align: center;
                background-color: rgba(255, 255, 255, 0);
                width:100%;
                height:50px;
            }
            .info_desc{
                font-size:2em;
            }
        }
    }
    .title{
        align-items: center;
        p{
            padding-top:1%;
            font-size:3em;
            font-weight: 600;
        }
    }
    .oneline{
        font-size:1.2em;
        display:flex;
        align-items: center;
        padding:0px 20px;
    }
    .description{
        display:flex;
        align-items: center;
        padding-top:10px;
        padding-bottom:10px;
    }
}

.reviews{
    // width:100%;
    // display:flex;
    // justify-content: center;
    // height: 30%;
    font-family: 'Pretendard-Regular';
    .rv{
        display: block;
        justify-content: center;
        align-items: center;
        width:33%;
        // border: 1px solid green;
        padding:1%;
        font-family: 'Pretendard-Regular';
        div{
            display:inline-flex;
            p{
                width: 50%;
                margin-right: 5%;
                // border:1px solid black;
            }
        }
    }
}

.d_foot{
    background-color: #A8D1E5;
    height:30px;
    // border-bottom-right-radius: 10px;
    // border-bottom-left-radius: 10px;
    display: inline-flex;
    width:100%;
    align-items: center;
    p{
        margin-left:3%;
        margin-top:3%;
        color: black;
        font-weight: bold;
        font-size:1.0em;
        background-color:#5bb7e6;
        padding:0 10px;
        border-radius:3px;
    }
}

@media (max-width: 767px) {
    .container{
        width: 90%; 
        display: flex;
        flex-direction: column;
    }
    .d_top{
        display:flex;
        width:100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        flex-direction: column;
        align-items: center;
        .d_left{
            display:table; 
            width:100%;
            flex-direction: row;
            margin-top:0%;
            div{
                display:table-cell;
                justify-content: center;
                width:33%;
            }
            .move_button{
                font-size:20px;
                text-decoration: none;
            }
        }
    }
    .d_right{
        border-top-left-radius: 10px;
        width:100%;
        flex-direction: column;
        .infos{
            display: flex;
            width:100%;
            span{
                display: block;
                justify-content: center;
                align-items: center;
                width:33%;
                // border: 1px solid green;
                .info_desc{
                    font-size:1.7em;
                    font-weight: 700;
                }
            }
        }
        .title{
            font-size:9px;
        }
        .description{
            display:flex;
            align-items: center;
        }
    }

    .reviews{
        // width:100%;
        // display:flex;
        // justify-content: center;
        // height: 30%;
        flex-direction:column;
        display:flex;
        .reviewWrapper{
            flex-direction: column;
            .rv{
                justify-content: center;
                align-items: center;
                width:100%;
                border-top: 1px solid #A8D1E5;
                background-color:rgb(32, 32, 32);
                padding-top:3%;
                color:white;
                .reviewNum{
                    font-size:1.2em;
                    font-family: 'payboocbold';
                }
                p{
                    font-size:16px;
                }
                div{
                    display:block;
                    p{
                        width: 100%;
                        margin-right: 5%;
                        // border:1px solid black;
                    }
                }
            }
        }
    }
}
