@import '~antd/dist/antd.css';

@font-face {
  font-family: 'font_HBS';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'payboocbold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'paybooclight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.menu {
  padding: 0 200px;
  border-bottom: solid 2px #000000;
  overflow: auto;
  /* box-shadow: 0 0 30px #f3f1f1; */
  background-color: rgba(201, 67, 67, 0);
  display:flex;
  align-items: center;
}

.menu__logo {
  width: 150px;
  float: left;
  font-family:font_HBS;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  font-size:30px;
  color:red;
}

.menu__container a:hover{
  color:rgb(105, 105, 105);
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #d9dadb;
}

.navButton{
  margin:10px;
  margin-left:30px;
  color:rgb(0, 0, 0);
  font-family:payboocbold;
  font-size:15px;
}

@media (max-width: 767px) {
  .navButton{
    margin:10px;
    color:white;
    font-family:font_HBS;
    font-size:15px;
  }
  .menu__container{
    margin-left:-60px;
  }
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
}