.Container{
    width:100%;
    justify-self: center;
    text-align:center;
}
.buttonsWrapper{
    padding-top:20px;
    justify-content:space-between;
    .typebuttons{
        margin:10px;
        height:50px;
        width:20%;
    }
}
.servicesWrapper{
    display: flex;
    justify-content: center;
}